<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to the {{ title }} portal!
  </h1>
  <img width="300" alt="Angular Logo" src="../assets/imgs/logo.png">
</div>
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title layout-align="center center" style="text-align: center">
      Sign in
    </mat-panel-title>
  </mat-expansion-panel-header>
  <label>Username</label><br />
  <input type="text" name="fname"><br />
  <label>Password</label><br />
  <input type="text" name="lname"><br />
</mat-expansion-panel>
