<div style="text-align:center">
  <h1>
    Welcome to the {{ title }} portal!
  </h1>
  <img width="300" alt="Angular Logo" src="../assets/imgs/logo.png">
</div>
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title layout-align="center center" style="text-align: center">
      Sign in
    </mat-panel-title>
  </mat-expansion-panel-header>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
    <label for="username"> ID:<br />
      Admin: 5aad2d8fb4308a0a146f5f9c<br />
      Patient: 5aad2d79b4308a0a146f5f9a<br />
      Doctor: 5aade1441c12e347840131c0<br />
    </label>
    <br />
    <input name="username" ngModel required #first="ngModel" />
    <br />
    <input name="password" type="password" ngModel hidden/>
    <button mat-raised-button>Submit</button>
  </form>
</mat-expansion-panel>
